# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp
*.swp

# Ignore hidden system directories
.idea/
.vscode/

# Ignore all folders containing "data" in their name
*data*/

# Ignore all folders containing "results" in their name
*results*/
